/* Temas del segundo período*/

.texto{
   
    font-size: 40px;
    padding-top: 140px;
    text-align: justify;
    color: rgb(20, 20, 20);
}
.principal{
   display: flex;
     
}
body{
    background-image: url("Fondo2.jpg");
   

}
.titulo{
    font-size: 40px;
    text-align: center;
   color: black;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.image{
    height: 357px;
    width: 390px;
    background-image: url('circuito.webp');
    background-repeat: no-repeat;
    float: right;
}
.img1{
    height: 1062px;
    width: 2000px;
    background-image: url('mapa.png');
    background-repeat: no-repeat;
   
}